%header.headerBox
  .headerBox__inner
    .headerBox__inner__main
      .headerBox__inner__main__icon
        = link_to image_tag('/material/logo/logo.png', height: '40px', class: 'headerBox__inner__main__icon__logo'), root_path
      .headerBox__inner__main__searchBox
        = search_form_for @search , url:searches_index_path do |f|
          = f.search_field :productName_cont,  class: 'headerBox__inner__main__searchBox__form', placeholder: 'キーワードから探す', id: "form__box"
          %button{type: "submit", class: 'search__button'}
            = image_tag('/material/icon/icon-search 1.png')
    .headerBox__inner__nav
      %ul.listLeft
        %li.listLeft__btn
          = link_to "商品一覧", "#", id: "product-btn"
      %ul.listRight
        = link_to "お気に入り"
        = link_to "お知らせ"
        = link_to "やることリスト"
        = link_to "マイページ"
        %li.listRight__item__login
          = link_to "ログイン", new_user_session_path
        %li.listRight__item__new
          = link_to "新規会員登録", new_user_registration_path




