= render "products/header"
.wrapper
  .container
    .container__images
      %h2.container__images__titles 
        購入内容の確認
    .item
      .item__image
        - @product.images.each do |i|
          = image_tag i.image.url, class:'images_table__image'
      .item__text
        %p.item__text__name
          = @product.name
        %p.item__text__money
          = @product.price
          （税込）
    .money
      .money__payment
        .money__payment__a
          支払い金額
        .money__payment__b
          = @product.price
          円
    .pay
      .pay__title
        支払い方法
      .pay__save
        クレジットカード
      .pay__save__card-number
        .card-number
          = "**** **** **** " + @card_info.last4
        .card-data
          = "有効期限" + @card_info.exp_month.to_s + " / " + @card_info.exp_year.to_s.slice(2,3) 
        .card-logo
          = image_tag "#{@card_src}", alt: @card_info.brand, class:'li-box'
    .address
      .address__title
        %h3.a
          配送先
      .address__date
        %p.number
          〒
          = @address.postalcode
        %p.possion
          = @address.prefecture
          = @address.city
          = @address.address
          = @address.buildingname
    .buy
      %p.buy__text
        郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
      %p.buy__error
        支払い方法の入力を完了してください。
        = button_to '購入する', {controller: 'creditcards', action: 'pay'}, {method: :post, class:'pay-btn'}
= render "products/footer"