= render 'top/header'
.boby
  .left
    %ul.mypage-list
      %li.left-a
        マイページ
        = icon('fas', 'angle-right')
      %li.left-a
        いいね一覧
        = icon('fas', 'angle-right')
      %li.b
        出品する
        = icon('fas', 'angle-right')
      %li.c
        下書き
        = icon('fas', 'angle-right')
      %li.d
        出品した商品 - 出品中
        = icon('fas', 'angle-right')
      %li.e
        出品した商品 - 取引中
        = icon('fas', 'angle-right')
      %li.f
        出品した商品 - 売却済み
        = icon('fas', 'angle-right')
      %li.h
        購入した商品 - 取引中
        = icon('fas', 'angle-right')
      %li.g
        購入した商品 - 売却済み
        = icon('fas', 'angle-right')
      %li.h
        お問い合わせ
        = icon('fas', 'angle-right')
    %h3.title
      設定
    %ul.setting
      %li.profile
        プロフィール
        = icon('fas', 'angle-right')
      %li.address
        お届け先住所
        = icon('fas', 'angle-right')
      %li.pay
        支払い方法
        = icon('fas', 'angle-right')
      %li.mail
        メール/パスワード
        = icon('fas', 'angle-right')
      %li.me
        本人情報
        = icon('fas', 'angle-right')
      %li.tel
        電話番号の確認
        = icon('fas', 'angle-right')
      %li.logout
        ログアウト   
        = icon('fas', 'angle-right')
  .right
    .content
      .top
        .a
          .myphoto
          .name
            User_name
          .rank
            %h2.revel
              評価 0
            %h2.item
              出品数 0
      .tabs
        %ul.tab
          %li.info
            お知らせ
          %li.todo
            やることリスト
      .naiyou
        .a
          現在、お知らせはありません
    .bottom
      .title
        購入した商品
      %ul.buy
        %li.now
          取引中
        %li.was
          過去の取引
      .syousai
        .x
          現在、取引はございません
= render 'top/footer'
