= render 'top/header'

.breadcrumb-list
  .breadcrumb-list__text
    .breadcrumb-list__text__home
      = link_to "FURIMA", root_path, class: "breadcrumb-list__text__home__link"
      %i.fas.fa-angle-right
    .breadcrumb-list__text__category--main
      = link_to "レディース", root_path, class: "breadcrumb-list__text__category__link--home"
      %i.fas.fa-angle-right
    .breadcrumb-list__text__category--sub
      = link_to "ワンピース", root_path, class: "breadcrumb-list__text__category__link--sub"
      %i.fas.fa-angle-right
    .breadcrumb-list__text__category--sub_sub
      = link_to "ロングワンピース", root_path, class: "breadcrumb-list__text__category__link--subsub"

.container
  .container__item-info
    .container__item-info__name
      商品名
    .container__item-info__detail
      .container__item-info__detail__images
        .current_image
          = image_tag 'material/pict/show1.jpg', class: 'current_image__1'
        .images_table
          .images_table__box
            = image_tag 'material/pict/show1.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show8.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show9.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show4.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show8.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show9.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show4.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show8.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show9.jpg', class: 'images_table__image'
          .images_table__box
            = image_tag 'material/pict/show4.jpg', class: 'images_table__image'

    .container__item-info__price-info
      .container__item-info__price-info__price ¥1,000
      .container__item-info__price-info__info
        %span.tax-include (税込)
        %span.shipping_charge 送料込み
    .container__item-info__btn
      %button.buy-btn
        購入画面に進む
    .container__item-info__description
      商品の説明文が表示されます。商品の説明文が表示されます。商品の説明文が表示されます。
    .container__item-info__detail__table
      %table.detail-table
        %tr
          %td.detail-table__title 出品者 
          %td.detail-table__content 
            = link_to 'ユーザー名', '#', class: 'table-link'
        %tr
          %td.detail-table__title カテゴリー 
          %td.detail-table__content.detail-table__content--category
            = link_to '大カテゴリー名', '#', class: 'table-link'
            %label.category-link
              = link_to '中カテゴリー名', '#', class: 'table-link'
            %label.category-link
              = link_to '小カテゴリー名', '#', class: 'table-link'
        %tr
          %td.detail-table__title ブランド
          %td.detail-table__content 
            = link_to 'ブランド名', '#', class: 'table-link'
        %tr
          %td.detail-table__title 商品のサイズ
          %td.detail-table__content M
        %tr
          %td.detail-table__title 商品の状態
          %td.detail-table__content 目立った傷や汚れなし
        %tr
          %td.detail-table__title 配送料の負担
          %td.detail-table__content 送料込み（出品者負担）
        %tr
          %td.detail-table__title 配送元地域
          %td.detail-table__content 大阪府
        %tr
          %td.detail-table__title 発送日の目安
          %td.detail-table__content 1~2日で発送

    .container__item-info__links
      .container__item-info__links--favorite
        .favorite__icon
          %i.fas.fa-star
        .favorite__text
          お気に入り
        .favorite__count
          0
      .container__item-info__links--report
        = link_to '#', class: 'report_button' do
          .report__icon
            %i.fas.fa-flag
          .report__text
            不適切な商品の報告
  .container__comments
    .container__comments__input-box
      %textarea.comment-form
    .container__comments__notice
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .container__comments__btn
      %button.comment-btn
        %i.fas.fa-comment
        コメントする
  .container__page
    .container__page__before
      = link_to '#', class: 'before_item' do
        < 前の商品
    .container__page__after
      = link_to '#', class: 'after_item' do
        後ろの商品 >
  .container__other_recommends
    .container__other_recommends__title
      = link_to "[カテゴリ名]をもっとみる", '#', class: 'search_category'  
    .container__other_recommends__items
      .item_card
        = link_to '#', class: 'item_card__link' do
          .item_card__image_field
            = image_tag 'material/pict/show1.jpg', class: 'item_card__image_field__image'
          .item_card__info
            .item_card__info__name
              商品名
            .item_card__info__detail
              .item_card__info__detail__price_field
                .item_card__info__detail__price_field--price
                  ¥2,000
                .item_card__info__detail__price_field--tax
                  (税込)
              .item_card__info__detail__favorite
                %i.fas.fa-star
                0
      .item_card
        = link_to '#', class: 'item_card__link' do
          .item_card__image_field
            = image_tag 'material/pict/show9.jpg', class: 'item_card__image_field__image'
          .item_card__info
            .item_card__info__name
              商品名
            .item_card__info__detail
              .item_card__info__detail__price_field
                .item_card__info__detail__price_field--price
                  ¥2,000
                .item_card__info__detail__price_field--tax
                  (税込)
              .item_card__info__detail__favorite
                %i.fas.fa-star
                0
      .item_card
        = link_to '#', class: 'item_card__link' do
          .item_card__image_field
            = image_tag 'material/pict/show2.jpg', class: 'item_card__image_field__image'
          .item_card__info
            .item_card__info__name
              商品名
            .item_card__info__detail
              .item_card__info__detail__price_field
                .item_card__info__detail__price_field--price
                  ¥2,000
                .item_card__info__detail__price_field--tax
                  (税込)
              .item_card__info__detail__favorite
                %i.fas.fa-star
                0
      .item_card
        = link_to '#', class: 'item_card__link' do
          .item_card__image_field
            = image_tag 'material/pict/show.sale.jpg', class: 'item_card__image_field__image'
          .item_card__info
            .item_card__info__name
              商品名
            .item_card__info__detail
              .item_card__info__detail__price_field
                .item_card__info__detail__price_field--price
                  ¥2,000
                .item_card__info__detail__price_field--tax
                  (税込)
              .item_card__info__detail__favorite
                %i.fas.fa-star
                0
      .item_card
        = link_to '#', class: 'item_card__link' do
          .item_card__image_field
            = image_tag 'material/pict/show4.jpg', class: 'item_card__image_field__image'
          .item_card__info
            .item_card__info__name
              商品名
            .item_card__info__detail
              .item_card__info__detail__price_field
                .item_card__info__detail__price_field--price
                  ¥2,000
                .item_card__info__detail__price_field--tax
                  (税込)
              .item_card__info__detail__favorite
                %i.fas.fa-star
                0
      .item_card
        = link_to '#', class: 'item_card__link' do
          .item_card__image_field
            = image_tag 'material/pict/show8.jpg', class: 'item_card__image_field__image'
          .item_card__info
            .item_card__info__name
              商品名
            .item_card__info__detail
              .item_card__info__detail__price_field
                .item_card__info__detail__price_field--price
                  ¥2,000
                .item_card__info__detail__price_field--tax
                  (税込)
              .item_card__info__detail__favorite
                %i.fas.fa-star
                0
= render 'top/footer'
