= render 'top/header'
= render 'breadcrumb'

.show__wrapper
  .show__container
    .show__container__item-info
      .show__container__item-info__name
        = @product.name
      .show__container__item-info__detail
        .show__container__item-info__detail__images
          .images_table
            %ul.images_table__box
              - @product.images.each do |i|
                %li.images_table__box--list
                  = image_tag i.image.url, class:'images_table__image'

      .show__container__item-info__price-info
        .show__container__item-info__price-info__price
          %span ¥
          = @product.price
        .show__container__item-info__price-info__info
          %span.tax-include (税込)
          %span.shipping_charge
            = @product.shipping_charge.name
      .show__container__item-info__btn
        - if current_user.id != @product.user_id
          = button_to '購入画面に進む', {controller: 'products', action: 'index'}, {method: :get, class:'buy-btn'}
        - else
          .sellerBtn
            .sellerBtn__edit
              = button_to '商品の編集', {controller: 'products', action: 'edit'}, {method: :get, class:'sellerBtn__edit__btn'}
            .sellerBtn__destroy
              = button_to 'この商品を削除する', {controller: 'products', action: 'destroy'}, {method: :get, class:'sellerBtn__destroy__btn'}
          
      .show__container__item-info__description
        = simple_format @product.description
      .show__container__item-info__detail
        %table.detail-table
          %tr
            %td.detail-table__title 出品者 
            %td.detail-table__content 
              = @product.user.nickname
          %tr
            %td.detail-table__title カテゴリー 
            %td.detail-table__content.detail-table__content--category
              = link_to "#{@category_parent.name}", '#', class: 'table-link'
              %label.category-link
                = link_to "#{@category_child.name}", '#', class: 'table-link'
              %label.category-link
                = link_to "#{@product.category.name}", "#", class: "table-link"
          %tr
            %td.detail-table__title ブランド
            %td.detail-table__content 
              - if @product.brand != nil
                = link_to "#{@product.brand.name}", "#", class: "table-link"
              - else
                %p ー
          %tr
            %td.detail-table__title 商品のサイズ
            %td.detail-table__content
              = @product.size.name
          %tr
            %td.detail-table__title 商品の状態
            %td.detail-table__content 
              = @product.condition.name
          %tr
            %td.detail-table__title 配送料の負担
            %td.detail-table__content 
              = @product.shipping_charge.name
          %tr
            %td.detail-table__title 配送元地域
            %td.detail-table__content
              = link_to "#{@product.prefecture.name}", "#", class: "table-link"
          %tr
            %td.detail-table__title 発送日の目安
            %td.detail-table__content
              = @product.days_until_shipping.name

      .show__container__item-info__links
        .show__container__item-info__links--favorite
          .favorite__icon
            %i.fas.fa-star
          .favorite__text
            お気に入り
          .favorite__count
            0
        .show__container__item-info__links--report
          = link_to '#', class: 'report_button' do
            .report__icon
              %i.fas.fa-flag
            .report__text
              不適切な商品の報告
    .show__container__comments
      .show__container__comments__input-box
        %textarea.comment-form
      .show__container__comments__notice
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .show__container__comments__btn
        %button.comment-btn
          %i.fas.fa-comment
          コメントする
    .show__container__page
      .show__container__page__before
        = link_to '#', class: 'before_item' do
          < 前の商品
      .show__container__page__after
        = link_to '#', class: 'after_item' do
          後ろの商品 >
    .show__container__other_recommends
      .show__container__other_recommends__title
        = link_to "その他の商品をもっとみる", '#', class: 'search_category'  
      .show__container__other_recommends__items
        = render "index"

= render 'top/appBanner'
= render 'top/footer'
= render 'top/purchaseBtn'
