!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/

    %title 人生を変えるフリマアプリ
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %header.headerBox
      .headerBox__inner
        .headerBox__inner__main
          .headerBox__inner__main__icon
            = link_to image_tag('/material/logo/logo.png', height: '40px', class: 'headerBox__inner__main__icon__logo'), root_path
          .headerBox__inner__main__searchBox
            = search_form_for @search , url:searches_index_path do |f|
              = f.search_field :produstName_cont,  class: 'headerBox__inner__main__searchBox__form', placeholder: 'キーワードから探す', id: "form__box"
              %button{type: "submit", class: 'search__button'}
                = image_tag('/material/icon/icon-search 1.png')
        .headerBox__inner__nav
          %ul.listLeft
            - if user_signed_in?
            %li.listLeft__btn
              = link_to "商品一覧", "#", id: "product-btn"
          %ul.listRight
            - if user_signed_in?
              = link_to "お気に入り"
              = link_to "お知らせ"
              = link_to "やることリスト"
              = link_to "マイページ", 
            - else
            %li.listRight__item__login
              = link_to "ログイン", new_user_session_path
            %li.listRight__item__new
              = link_to "新規会員登録", new_user_registration_path
            - end
    %p.notice notice
    %p.alert alert

    = yield

